<main>
  <div class= "container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto">

        <h1>注文履歴一覧</h1>
          <table class="table table-hover table-inverse">
            <thead>
               <tr>
                 <th>購入日時</th>
                 <th>購入者</th>
                 <th>注文個数</th>
                 <th>注文ステータス</th>
               </tr>
             </thead>
             <tbody>
            <% @orders.each do |order| %>
              <tr>
                <th><%= link_to "#{order.created_at.strftime("%Y-%m-%d %H:%M:%S")}", admin_order_path(order.id)%></th>
                <th><%= order.name%></th>
                <th><%= order.order_details.sum(:amount)%></th>
                <th><%= order.status%></th>
              </th>
            <% end %>
            </tbody>
            </table>
            <%= paginate @orders %>
      </div>
    </div>       
  </div>        
</main>