<main>
  <div class= "container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >

          <h1>商品一覧(<%= @items.count%>件)</h1>
          

        <div class = "d-flex flex-wrap justify-content-around">
          <% @items.each do |item|%>
            <ul class="list-unstyled">
              <li><%= link_to attachment_image_tag(item, :image, :fill, 100, 100), item_path(item.id) %></li>
              <li><%= item.name %></li>
              <li><%= item.price %></li>
            </ul>
          <% end %>
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</main>

